---
const {
  as = "input",
  label,
  name,
  type = "text",
  placeholder = "",
  rows = 5,
  required = false
} = Astro.props;

const Tag = as;
---

<div class="field">
  {label && <label class="field-label" for={name}>{label}</label>}

  {as === "textarea" ? (
    <textarea
      class="field-control"
      id={name}
      name={name}
      placeholder={placeholder}
      rows={rows}
      required={required}
    ></textarea>
  ) : (
    <input
      class="field-control"
      id={name}
      name={name}
      type={type}
      placeholder={placeholder}
      required={required}
    />
  )}
</div>